/*---- ヘッダー ------*/

header {
  background-color: rgb(0 0 0 / 0%);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vw;
}

header h1 {
  width: 8%;
  padding: 5% 0 1% 1%;
  object-fit: contain;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  opacity: 70%;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 3vw;
  width: 30%;
}

header nav ul {
  text-align: center;
  padding-top: 3vw;
}

header nav ul li {
  display: inline;
  margin-right: 3vw;
}

header nav ul li:last-child {
  margin-right: -2vw;
}

nav ul li img {
  width: 2vw;
  margin: 0;
}

/* メイン */

.container {
  /* background-color: bisque; */
  max-width: 980px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* フッター */

.footer_container {
  /* background-color: bisque; */
  max-width: 980px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  width: 100%;
  background-color: #5fd4ff;
  text-align: left;
  padding-top: 1vw;
  padding-bottom: 5vw;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

footer a:hover {
  opacity: 70%;
}

footer h1 {
  width: 10%;
  height: 10%;
}

footer div.footer_all {
  font-family: "Yu Gothic UI";
  color: #fffefe;
  display: flex;
  flex-basis: 100%;
  margin-top: 2vw;
}

footer div.footer_all address {
  flex-basis: 50%;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

footer div.footer_all div.footer_nav {
  display: flex;
  width: 100%;
  margin-left: 200px;
  column-gap: 100px;
}

footer div.footer_all div.footer_nav li {
  padding-bottom: 20px;
}

footer div.footer_all div.footer_nav li:last-child {
  padding-bottom: 0;
}

/* レスポンシブ */
@media (max-width: 767px) {
}

@media (max-width: 575px) {
  header {
    height: 100px;
  }

  header h1 {
    padding: 0;
    width: 18%;
    padding-top: 14.15px;
    padding-bottom: 15.09px;
    padding-left: 16.63px;
  }

  header nav {
    width: 40%;
  }

  header nav ul {
    margin-top: -15px;
  }

  nav ul li img {
    width: 5vw;
  }

  footer {
    padding-top: 1vw;
    padding-bottom: 0;
  }

  footer a {
    text-decoration: none;
    color: #fff;
    font-size: 3vw;
  }

  footer h1 {
    width: 50%;
    height: 50%;
  }

  footer div.footer_all {
    margin-top: 2vw;
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  footer div.footer_all address {
    flex-basis: 100%;
    margin-left: 18.5vw;
    line-height: 32px;
    letter-spacing: 0.03em;
  }

  .footer_container {
    display: flex;
  }

  footer div.footer_all div.footer_nav {
    width: 150%;
    margin-left: 0;
    column-gap: 14.5vw;
    margin-top: 50px;
    margin-left: -32vw;
  }

  footer div.footer_all div.footer_nav li {
    padding-bottom: 10px;
    letter-spacing: 0.05em;
  }
}
